---
title: Projects
layout: blank
---
      <h3>(incomplete list)</h3>
      {% for page in site.categories['projects'] %}
      <article>
        <header>
          <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
          <p>{% if page.date %}<time>{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}</p>
        </header>
        <div>
          {{ page.excerpt }}
        </div>
        <footer>
          <a href="{{ page.url }}">read more</a>
        </footer>
      </article>
{% endfor %}